* {
  box-sizing: border-box;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a * {
  text-decoration: none;
  color: inherit;
}
.App-header {
  background-color: #282c34;
  height: 15vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;
}
.App-body {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:blanchedalmond;
}

.navigationlinks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}
.navigationitem{
  list-style: none;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
}
.navigationitem:hover{
  cursor: pointer;
  color: darkgoldenrod;
}
.navigationitem:active{
  color: darkgoldenrod;
}
.navigationitem:visited{
  color: white;
}


